
$font-title: 'Merriweather', Arial;
$font-normal: 'Roboto', Arial;
$color-info: #62c1ce;
$color-jtb: #c92535;

body {
  font-family: $font-normal;
}

.rn-text-title {
  font-family: $font-title;
}

.rn-ft-link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.rn-toppage-link {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s;
  }

  &:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
  }

  .rn-toppage-title {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 1.0rem 1.2rem;
    font-family: $font-title;
    font-size: 1.0rem;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    width: 60%;
    transition: all 0.3s;

  }

  &:hover .rn-toppage-title {
    width: 70%;
    padding: 1.5rem 1.75rem;
    transition: all 0.3s;
    background-color: rgba(0, 0, 0, 0);
  }
}


.fs-7 {font-size: 0.9rem;}
.fs-8 {font-size: 0.8rem;}
.fs-9 {font-size: 0.7rem;}


.text-info {
  color: $color-info !important;
}


.border-info {
  border-color: $color-info !important;
}


.rn-title-decor::after {
  content: '';
  display: block;
  width: 120px;
  height: 3px;
  background-color: $color-info;
}


.rn-imgcover-center, .rn-imgcover-top {
  background-repeat: no-repeat;
  background-size: cover;
}

.rn-imgcover-center {
  background-position: center;
}

.rn-imgcover-top {
  background-position: center top;
}


.hover-zoom-effect {
  a {
    transition: all 0.5s;
    transform: scale(1.002);
  }

  &:hover a {
    transform: scale(1.05);
  }
}


.text-facebook {
  color: #0866ff;
}



.rn-tabservice button{
  border: 1px solid #d7d7d7;
  background-color: #ffffff;
  transition: all 0.5s;
  color: #7c868f;
}
.rn-tabservice button:hover{
  border: 1px solid $color-jtb;
  background-color: #ffffff;
  transition: all 0.5s;
  color: $color-jtb;
}

.rn-tabservice button.active{
  border: 1px solid $color-jtb;
  background-color: $color-jtb;
  color: #ffffff;
}

.btn-primary {
  background-color: $color-jtb !important;
  border: 1px solid $color-jtb !important;
}

.btn-primary {
    &:active {
        box-shadow: 0 0 0 0.25rem rgba(201, 38, 55, 0.5);

        &:focus {
            box-shadow: 0 0 0 0.25rem rgba(201, 38, 55, 0.5);
        }
    }

    &:focus-within,
    &:target,
    &:focus {
        box-shadow: 0 0 0 0.25rem rgba(201, 38, 55, 0.5);
    }
}